= form_tag search_url, method: :get do
  = label_tag "Search"
  = text_field_tag :fname
  = text_field_tag :lname
  = submit_tag

%br
- unless params[:q].nil?
  Searched for: #{params[:q]}

%ul
  - @pages.each do |page|
    %li
      "#{page.url} - #{page.tags}"